.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  /* display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  margin-top: 30px;
  font-size: 26px;
  color: aliceblue;
}

.decks, .cards {
  display: flex;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  list-style: none;
  flex-wrap: wrap;
}

.decks li, .cards li {
  position: relative;
  margin: 5px 10px;
  width: 200px;
  height: 200px;
  border: 1px solid aliceblue;
  border-radius: 5px;
  text-align: center;
  line-height: 200px;
  background-color: aliceblue;
  color: cadetblue;
}

.decks li button, .cards li button {
  position: absolute;
  top: 0;
  right: 0;
}

.decks li:hover {
  background-color: azure;
  cursor: pointer;
}

#deck-title, #card-text {
  margin: 0 10px;
  width: 200px;
  height: 30px;
}

.form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.header {
  height: 80px;
  padding: 20px;
  font-size: 26px;
  color: aliceblue;
}

h1 {
  color: aliceblue;
  margin: 0;
}
